<mat-sidenav-container class="sidenav-container font-family">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
               [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
               [mode]="(isHandset$ | async) ? 'over' : 'side'"
               [opened]="(isHandset$ | async) === false">
    <mat-toolbar><i style="font-size: 1.5rem; color: black;" class=" bi bi-card-list i1"></i>Menu</mat-toolbar>
    <mat-nav-list>
      <i class="bi bi-amazon"></i>
      <a mat-list-item routerLink="ventas"><i style="font-size: 1.5rem; color: black;" class=" bi bi-cart-check i1"></i>Ventas</a>
      <a mat-list-item routerLink="producto"><i style="font-size: 1.5rem; color: black;" class=" bi bi-basket2-fill i1"></i>Productos</a>
      <a mat-list-item routerLink="inventario"><i style="font-size: 1.5rem; color: black;" class=" bi bi-journal-medical i1"></i>Inventarios</a>
      <a mat-list-item routerLink="desayuno"><i style="font-size: 1.5rem; color: black;" class=" bi bi-cup-hot i1"></i>Desayunos</a>
      <!--<a mat-list-item routerLink="">Item 3</a>-->
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button type="button"
              aria-label="Toggle sidenav"
              mat-icon-button
              (click)="drawer.toggle()"
              *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>PANPOS. Productos alimenticios de calidad</span>
      <div >
        <mat-card-header>
          <div class="img">
            <button mat-icon-button [matMenuTriggerFor]="menu">
              <mat-icon>more_vert</mat-icon>
            </button>
            <mat-menu #menu="matMenu">
              <button mat-menu-item (click)="logOut()">
                <mat-icon>exit_to_app</mat-icon>
                <span>Salir</span>
              </button>
            </mat-menu>
          </div>
          <div mat-card-avatar class="example-header-image"></div>
        </mat-card-header>
      </div>
      <mat-card class="sidenav-container">

      </mat-card>
    </mat-toolbar>
    <ng-content></ng-content>
  </mat-sidenav-content>
</mat-sidenav-container>



